a {
  color: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: .5em;
  margin: 0 !important;
}

.row {
  max-width: 100%;
}

.sidebar-icon li {
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.card-title {
  font-weight: bold !important;
  color: #42A5F5;
}

.header {
  border-bottom: 1px solid #999;
}

.custom-container {
  max-width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

#content {
  padding: 0;
}

#content .header h3 {
  margin: 0;
  padding: .3em;
}

#sidebar {
  height: 100vh;
  border-right: 1px solid #999;
  position: static;
  color: #333;
}
