# this file is for pre configuring your editor to some of the elements of our
# stylesheet
# some code editors already have support to editorconfig files, such as BBEdit,
# codelite, builder, github online editor, gogs, intelijIDEA, ktext editor, 
# komodo, pycharm, rubymine, sourcelair, tortoisegit, visual studio (not VScode)
# and webstorm.
# 
# If you use another editor, please install the editorconfig plugin.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.py]
indent_size = 4
