sudo: required

services:
  - docker

env:
  - DOCKER_COMPOSE_VERSION=1.14.0

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

before_script:
  - cp env.tmpl .env

script:
  - docker-compose up -d
  - docker-compose exec web flake8 --exclude='ipython_log.py*,migrations,templates, settings.py, manage.py, env.tmpl' .
  - docker-compose exec web coverage run -m pytest --create-db --nomigrations

after_success:
    - docker-compose exec web coveralls

    - |
        if [ "${TRAVIS_BRANCH}" == "development" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
            echo "Deploying to homolog environment..."
            docker build -f Dockerfile -t $DOCKERHUB_ORG/tropical-hazards-back:latest .
            docker login --username=$DOCKERHUB_USER --password=$DOCKERHUB_PASSWORD
            docker push $DOCKERHUB_ORG/tropical-hazards-back:latest
            docker run cdrx/rancher-gitlab-deploy upgrade --rancher-url $RANCHER_URL --rancher-key $RANCHER_ACCESS_KEY --rancher-secret $RANCHER_SECRET_KEY --environment Default --stack Observ --service back --finish-upgrade

            echo "Restarting Nginx"
            curl -u "${RANCHER_ACCESS_KEY}:${RANCHER_SECRET_KEY}" \
            -X POST \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{}' \
            '${RANCHER_URL}v2-beta/${PROJECT_AND_CONTAINER_URI}/?action=restart'
        else if [ "${TRAVIS_BRANCH}" == "master"] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
            echo "Creating Release package..."
            npx semantic-release
        else
            echo "Skipping deploy...";
        fi;
notifications:
  email: false
