Django==2.0.3
python-decouple==3.1
flake8==3.5.0
py==1.5.3
pytest==3.5.0
pytest-cov==2.5.1
pytest-django==3.1.2
dj-database-url==0.5.0
psycopg2==2.7.4
djangorestframework==3.7.7
psycopg2-binary==2.7.4
coveralls
django-cors-headers==2.2.0
django-rest-auth
djangorestframework-jwt
model_mommy
coverage
PyYAML
mongoengine
django-filter
ipdb
django-environ
pymongo
pandas
flask
raven
